name: Automated-Build

on:
  workflow_dispatch:
  push:
  pull_request:
  repository_dispatch:
    types: [run_build]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        exfat: ["EXFAT=0", "EXFAT=1"]
    runs-on: ubuntu-latest
    container: ps2dev/ps2dev:v1.0
    steps:

    - name: Install dependencies
      run: |
        apk add build-base git zip

    - uses: actions/checkout@v3
    - run: |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
        git fetch --prune --unshallow
        
    - name: Compile cheat device without network
      run: |
        make rebuild ${{ matrix.exfat }}

    - name: Upload variants artifact ELF
      uses: actions/upload-artifact@v3
      with:
        name: ${{ github.event.repository.name }}
        path: release/*.ELF
    
####################################################### 
  release:
    if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: build
    steps:

    - name: Download all artifacts
      uses: actions/download-artifact@v3

    - name: Create release
      if: github.ref == 'refs/heads/master'
      uses: marvinpinto/action-automatic-releases@latest
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "latest"
        title: "Latest automated build"
        files: |
               ${{ github.event.repository.name }}/*.ELF
               
